@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: visible;
  background: lavender;
}
.home-hero {
  background: teal;
  width: 100%;
  height: 75vh;
  background-attachment: fixed;
}
.img {
  height: 300px!important;
}
.main-text {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  margin-top: 70px;
  font-weight: 800;
}
h2, h3, h4 {
  font-size: 1.4em!important;
  font-family: 'Poppins', sans-serif;
  font-weight: 800!important;
}
p {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}
.form-container {
  height: auto;
  margin-top: 20px;
  border: 2px solid rgba(0, 0, 0,  0.3);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.description {
  font-size: 16px;
  font-weight: 600;
}
.charge-container {
  border: 3px solid teal;
  border-radius: 5px;
}
.btn-calculate {
  background: teal!important;
  border: 0!important;
  color: #fff!important;
  
}
.btn-calculate:hover {
  color: #fff;
  opacity: 0.7;
  transform: scale(1.05);
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .home-hero {
    height: 70vh;
  }
  .main-text {
    font-size: 1.2em;
  }
  .form-container {
    margin-top: -20px;
    height: auto;
  }
  #sec-column {
    display: none;
  }
}